name: Pages

on:
  push:
    branches:
      - source

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js 16
      uses: actions/setup-node@v4
      with:
        node-version: '16'
        cache: 'npm'
        
    - name: Install dependencies
      run: |
        rm -rf node_modules package-lock.json
        npm install --legacy-peer-deps
        npm install strip-ansi@6.0.1 --no-save
        
    - name: Build
      run: |
        npx hexo clean
        npx hexo generate
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
